*{
    margin: 0%;
    padding: 0%;
box-sizing: border-box;
color: white;
font-size: 1.3rem;
font-weight: 800;
}
html, body{
height: 100%;
width: 100%;
}
/* .container-1{
    /* display: flex; */
    align-items: center;
    justify-content: center;
 */
/* } */
.container-3 button{
    background-color: red;
    height: 200px ;
    width: 200px;
}
.container-3 button:nth-child(4){
    background-color: green;
}
.container-3 button:nth-child(5){
    background-color: yellow;
}
#red{
    background-color: red;
}
.container-3 button:nth-child(3){
    background-color: black;
}
.container{
    padding: 200px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container-2 button{
    background-color: black;
    height: 200px ;
    width: 200px;
}
#start{
    background-color: greenyellow;
}
#end{
    background-color: blue;
}